
<br>
<mat-card class="back" >
 <div class="table"> 
     <br>
     <br>  
<table>
    <tr>
        <td>
<mat-card class="card"[ngStyle]="{'background-color':getcolor1()}" >
        <div class="title">
    <mat-card-header>
      <mat-card-title style="font-size:25px">Slot1</mat-card-title>
    </mat-card-header>
    </div>
    <mat-card-content *ngFor="let time of fielddata">
       <p style="color:inherit;text-align:center;font-size:20px">Seconds : {{ time.slot1time}}</p>
    <p style="color:inherit;text-align:center;font-size:20px">Fare : {{ time.fare1}}</p>
         </mat-card-content>
   
  </mat-card>
  </td>
  <td>
        <mat-card class="card"[ngStyle]="{'background-color':getcolor2()}">
                <div class="title">
            <mat-card-header>
              <mat-card-title style="font-size:25px">Slot2</mat-card-title>
            </mat-card-header>
            </div>
            <mat-card-content *ngFor="let time of fielddata">
                    <p style="color:inherit;text-align:center;font-size:20px">seconds : {{ time.slot2time}}</p>
    <p style="color:inherit;text-align:center;font-size:20px">Fare : {{ time.fare2}}</p>
</mat-card-content>
           
          </mat-card>
          </td>
  <td>
<mat-card class="card"[ngStyle]="{'background-color':getcolor3()}">
        <div class="title">
    <mat-card-header>
      <mat-card-title style="font-size:25px">Slot3</mat-card-title>
    </mat-card-header>
    </div>
    <mat-card-content *ngFor="let time of fielddata">
            <p style="color:inherit;text-align:center;font-size:20px"> seconds  :{{ time.slot3time}}</p>
    <p style="color:inherit;text-align:center;font-size:20px">Fare : {{ time.fare3}}</p>
</mat-card-content>
  </mat-card></td>
  </tr>
  </table>
  </div>
  <br>
  <br>
  <div >
  <button  class="button"mat-flat-button color="black" (click)="getdata()"> Check Avalability</button>
  </div></mat-card>
<router-outlet></router-outlet>
